{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{template "title" .}} - page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon'   href='/static/img/icon.png' type='image/x-icon'>
    </head>
    <body>
        <h1>Hello GoLang!</h1>    
        <div class="layer_1"> 
            <form method="POST" class="layer_2"> 
                </br>
                </br>
                </br>
                <div>
                    <label class="name_label"> Enter your name:</label>  
                    <input type="text" name = "name" class="name_input"/>   
                </div>
                </br>
                <button type="submit">
                    Submit    
                </button>
                </br>
                </br>
                <label>{{.Name}}</label>
            </form> 
        </div>  
    </body>
    </html>
{{end}}